<aside class="col-lg-4">
    <!-- Widget [Search Bar Widget]-->
    <div class="widget search bg-light roundedDiv">
      <header>
        <h3 class="h6">Search the blog</h3>
      </header>
      <form action="#" class="search-form">
        <div class="form-group">
          <input type="search" placeholder="What are you looking for?">
          <button type="submit" class="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
    <!-- Widget [Latest Posts Widget]        -->
    <div class="widget latest-posts  bg-light roundedDiv">
      <header>
        <h3 class="h6">Latest Posts</h3>
      </header>
      <div class="blog-posts"><a href="#">
          <div class="item d-flex align-items-center">
            <div class="image"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></div>
            <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="fa fa-clock"></i> 500</div>
                <div class="comments"><i class="fa fa-heart"></i>12</div>
              </div>
            </div>
          </div></a><a href="#">
          <div class="item d-flex align-items-center">
            <div class="image"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></div>
            <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="fa fa-clock"></i> 500</div>
                <div class="comments"><i class="fa fa-heart"></i>12</div>
              </div>
            </div>
          </div></a><a href="#">
          <div class="item d-flex align-items-center">
            <div class="image"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></div>
            <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="fa fa-clock"></i> 500</div>
                <div class="comments"><i class="fa fa-heart"></i>12</div>
              </div>
            </div>
          </div></a></div>
    </div>

    <!-- Widget [Tags Cloud Widget]-->
    <div class="widget tags  bg-light roundedDiv">       
      <header>
        <h3 class="h6">Tags</h3>
      </header>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#" class="tag">#Business</a></li>
        <li class="list-inline-item"><a href="#" class="tag">#Technology</a></li>
        <li class="list-inline-item"><a href="#" class="tag">#Fashion</a></li>
        <li class="list-inline-item"><a href="#" class="tag">#Sports</a></li>
        <li class="list-inline-item"><a href="#" class="tag">#Economy</a></li>
      </ul>
    </div>
  </aside>
</div>
</div>
</section>