
<section class="blog-list py-5 bg-primary" id="blog-list" style="min-height: 80vh;">
<div class="container">
    <div class="row">
      <!-- Latest Posts -->
      <main class="posts-listing col-lg-8"> 
        <div class="container">
          <div class="row bg-light roundedDiv">
            <h1 class="pt-5 text-center">Anconi <strong>Blog</strong></h1>
            <h3 class="text-muted text-center pb-5">Todos mis blogs:</h3>
            <!-- post -->
            <div class="post col-xl-6 ">
              <div class="post-thumbnail"><a href="post.html"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date meta-last">20 May | 2016</div>
                  <div class="category"><a href="#">Business</a> </div>
                </div><a href="post.html">
                  <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="fa fa-clock"></i> 2 months ago</div>
                </footer>
              </div>
            </div>
            <!-- post             -->
            <div class="post col-xl-6">
              <div class="post-thumbnail"><a href="post.html"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date meta-last">20 May | 2016</div>
                  <div class="category"><a href="#">Business</a></div>
                </div><a href="post.html">
                  <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="fa fa-clock"></i> 2 months ago</div>
                </div>
              </div>
            </div>
            <!-- post             -->
            <div class="post col-xl-6">
              <div class="post-thumbnail"><a href="post.html"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date meta-last">20 May | 2016</div>
                  <div class="category"><a href="#">Business</a></div>
                </div><a href="post.html">
                  <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="fa fa-clock"></i> 2 months ago</div>
                </div>
              </div>
            </div>
            <!-- post -->
            <div class="post col-xl-6">
              <div class="post-thumbnail"><a href="post.html"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date meta-last">20 May | 2016</div>
                  <div class="category"><a href="#">Business</a></div>
                </div><a href="post.html">
                  <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="fa fa-clockfa fa-clock"></i> 2 months ago</div>
                </div>
              </div>
            </div>

            <ul class="pagination justify-content-center py-3">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </div>
          
        </div>
      </main>
  