{% extends 'base.html' %}
{% block content %}
  {% include 'header-blog.html' %}
  <section class="blogCreate py-5 bg-primary" id="blogCreate" style="min-height: 80vh;">
  <div class="container-fluid" >
    <div class="row">
      <!-- Latest Posts -->
      <main class="post blog-post col-lg-12"> 
        <div class="container bg-light roundedDiv py-3">
            <h1>Create new blog!</h1>
            <div class="container-fluid py-5">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Example select</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Example multiple select</label>
                  <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </form>
            </div>
            


            </div>
          </div>
        </div>
      </main>
    </section>

  {% include 'footer.html' %}
  
{% endblock %}