
<section class="blog-list py-5 bg-primary" id="blog-list" style="min-height: 80vh;">
<div class="container">
    <div class="row">
      <!-- Latest Posts -->
      <main class="posts-listing col-lg-8"> 
        <div class="container">
          <div class="row bg-light roundedDiv">
            <h1 class="py-5 text-center">Anconi <strong>Blog</strong></h1>
            <!-- post -->
            <div class="post col-xl-6 ">
              <div class="post-thumbnail"><a href="post.html"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date meta-last">20 May | 2016</div>
                  <div class="category"><a href="#">Business</a></div>
                </div><a href="post.html">
                  <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="fa fa-clock"></i> 2 months ago</div>
                  <div class="comments meta-last"><i class="fa fa-heart"></i>12</div>
                </footer>
              </div>
            </div>
            <!-- post             -->
            <div class="post col-xl-6">
              <div class="post-thumbnail"><a href="post.html"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date meta-last">20 May | 2016</div>
                  <div class="category"><a href="#">Business</a></div>
                </div><a href="post.html">
                  <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="fa fa-clock"></i> 2 months ago</div>
                  <div class="comments meta-last"><i class="fa fa-heart"></i>12</div>
                </div>
              </div>
            </div>
            <!-- post             -->
            <div class="post col-xl-6">
              <div class="post-thumbnail"><a href="post.html"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date meta-last">20 May | 2016</div>
                  <div class="category"><a href="#">Business</a></div>
                </div><a href="post.html">
                  <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="fa fa-clock"></i> 2 months ago</div>
                  <div class="comments meta-last"><i class="fa fa-heart"></i>12</div>
                </div>
              </div>
            </div>
            <!-- post -->
            <div class="post col-xl-6">
              <div class="post-thumbnail"><a href="post.html"><img src="https://fondosmil.com/fondo/29366.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date meta-last">20 May | 2016</div>
                  <div class="category"><a href="#">Business</a></div>
                </div><a href="post.html">
                  <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="title"><span>John Doe</span></div></a>
                  <div class="date"><i class="fa fa-clockfa fa-clock"></i> 2 months ago</div>
                  <div class="comments meta-last"><i class="fa fa-heart"></i>12</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </main>
  