{% extends 'base.html' %}
{% block content %}

{% include 'header-blog.html' %}
<section class="blogCreate py-5 bg-primary" id="blogCreate" style="min-height: 80vh;">
    <div class="container-fluid" >
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-12"> 
          <div class="container bg-light roundedDiv py-3">
              <h1>{% if 'create' in request.path %} Create new item! {% else %} Update: {{object.titulo}} {% endif %}</h1>
              <div class="container-fluid py-5">
              <form action="{% url 'portfolio-create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
               {{form.as_p}}
               <button class="btn btn-success btn-large text-center justify-content-center" type="submit">{% if 'create' in request.path %} CREAR {% else %} ACTUALIZAR{% endif %}</button>
                </form>
              </div>
              
  
  
              </div>
            </div>
          </div>
        </main>
      </section>
      {% include 'footer.html' %}
{% endblock %}
