<section class="header" id="header">
    <nav class="navbar navbarMain navbar-expand-md justify-content-center align-items-center navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-center justify-content-center link" href="#"><img class="logo" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link link" href = "#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link" href="#portafolio">Portafolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link" href="#about">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link" href="blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ml-md-2 btn-custom text-center " href="#contact" >CONTRATAR</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <header class="vh-100 vw-100 jumbotron align-items-center d-flex align-items-center justify-content-center header" >
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
          </div>
          <div class="col-lg-6" >
            <h1 class="display-5 fw-bold lh-1 mb-3 text-primary tituloHeader">Responsive left-aligned hero with image</h1>
            <h6 class="lead text-light text-justify subtituloHeader">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</h6>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a class="btn btn-primary btn-lg px-4 me-md-2 btnHeader" href="#contact">Contactar</a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </section>

 

    <!--BOTTOM HEADER-->