
      <!--TEAM-->
      <section class="team bg-dark py-5" id="about" name="about">
        <!-- Header -->
    <header class="bg-primary text-center py-5 mb-4">
      <div class="container">
        <h1 class="font-weight-light text-primary">SOBRE NOSOTROS</h1>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container py-5">

      <div class="row justify-content-center text-center ">
        <div class="col-md-6 col-sm-12 d-flex flex-row mb-5">
          <img class="img-fluid mx-auto mx-md-0" data-aos="fade-right" src="https://i.stack.imgur.com/erwrC.png">

        </div>
        <div class="col-md-6 col-sm-12 d-flex flex-column"data-aos="fade-down">
          <h1 class="text-dark" >CEO <strong>ANCONI</strong></h1>
          <hr class="mb-5">

          <h4 class="text-wrap text-break text-md-start text-dark mb-3">Nuestra <strong>Historia</strong>:</h4>
          <h5 class="text-wrap text-break text-dark mb-3 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor elementum massa eget pulvinar. Duis a tincidunt orci. Quisque mollis pharetra magna quis finibus. Fusce tempus egestas arcu ut blandit. Ut lobortis rutrum dui in euismod. In velit erat, mollis sed egestas eu, placerat ac leo. Aliquam aliquet nisi nec tincidunt bibendum. Mauris nisi ante, fermentum sed ante non, tincidunt viverra turpis.</h5>


          
          <h4 class="text-wrap text-break text-md-start text-dark mb-3">Creadora y diseñadora <strong>Angeles Sarmiento</strong>:</h4>
          <h5 class="text-wrap text-break text-md-start text-dark mb-3"><i class="fa fa-check text-primary "></i> Diseñadora egresada de Arturo Tejada</h5>
          <h5 class="text-wrap text-break text-md-start text-dark mb-3"><i class="fa fa-check text-primary "></i> Diseñadora egresada de Arturo Tejada</h5>
          <h5 class="text-wrap text-break text-md-start text-dark mb-3"><i class="fa fa-check text-primary "></i> Diseñadora egresada de Arturo Tejada</h5>
          <h5 class="text-wrap text-break text-md-start text-dark mb-3"><i class="fa fa-check text-primary "></i> Diseñadora egresada de Arturo Tejada</h5>

        </div>
      </div>

    </div>
    <!-- /.container -->

    </section>

  <!--END TEAM-->