<aside class="col-lg-4">
    <!-- Widget [Search Bar Widget]-->
    {% if request.path == link and request.user.is_authenticated %}
    <div class="widget tags  bg-light roundedDiv">       
      <header>
        <h3 class="h6">Funciones blog: SOLO EN LOS DETALLES DE BLOG</h3>
      </header>
      <ul class="list-inline">
        <li class="list-inline-item mt-2"><a href="{% url 'blog-update' slug=object.slug %}" class="btn btn-warning">Editar blog</a></li>
        <li class="list-inline-item mt-2"><a href="{% url 'blog-delete' slug=object.slug %}" class="btn btn-danger">Eliminar blog</a></li>

      </ul>
    </div>
    {% endif %}
    {% if request.user.is_authenticated %}
    <div class="widget tags  bg-light roundedDiv">       
      <header>
        <h3 class="h6">Funciones admin</h3>
      </header>
      <ul class="list-inline">
        <li class="list-inline-item mt-2"><a href="{% url 'blog-create' %}" class="btn btn-primary">Crear nuevo blog</a></li>
        <li class="list-inline-item mt-2"><a href="{% url 'users-edit' %}" class="btn btn-primary">Editar cuenta</a></li>
        <li class="list-inline-item mt-2"><a href="{% url 'admin:index' %}" class="btn btn-primary">Ir al admin</a></li>
        <li class="list-inline-item mt-2"><a href="{% url 'portfolio-create' %}" class="btn btn-primary">Crear nuevo producto</a></li>

      </ul>
    </div>
    {% endif %}
    <div class="widget search bg-light roundedDiv">
      <header>
        <h3 class="h6">Search the blog</h3>
      </header>
      <form action="{% url 'blog-search' %}" method="GET" class="search-form">{% csrf_token %}
        <div class="form-group">
          {{search.as_p}}
          <button type="submit" class="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
    <!-- Widget [Latest Posts Widget]        -->
    <div class="widget latest-posts  bg-light roundedDiv">
      <header>
        <h3 class="h6">Latest Posts</h3>
      </header>
      <div class="blog-posts">
      {% for blog in latest %}
        <a href="{{blog.get_absolute_url}}">
          <div class="item d-flex align-items-center">
            <div class="image"><img src="{{blog.image.url}}" alt="..." class="img-fluid"></div>
            <div class="title"><strong>{{blog.titulo}}</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="fa fa-clock"></i> {{blog.fecha|date:"SHORT_DATE_FORMAT"}}</div> <div class="views">{{blog.autor}}</div>
              </div>
            </div>
          </div></a>
      {% endfor %}
        </div>
    </div>

    <!-- Widget [Tags Cloud Widget]-->
    <div class="widget tags  bg-light roundedDiv">       
      <header>
        <h3 class="h6">Tags</h3>
      </header>
      <ul class="list-inline">
      {% for tag in categorias %}
        <li class="list-inline-item"><a href="{% url 'category-view' slug=tag.slug %}" class="tag">#{{tag.titulo}}</a></li>
      {% endfor %}
      </ul>
    </div>


  </aside>
</div>
</div>
</section>