{% extends 'base.html' %}
{% block content %}
  {% include 'header-blog.html' %}
  <section class="blogCreate py-5 bg-primary" id="blogCreate" style="min-height: 80vh;">
  <div class="container-fluid" >
    <div class="row">
      <!-- Latest Posts -->
      <main class="post blog-post col-lg-12"> 
        <div class="container bg-light roundedDiv py-3">
          {% if 'create' in request.path %} 
            <h1>Create new post!</h1>
          {% else %}
            <h1>Update blog: {{object.titulo}}</h1>
            <img class="img-fluid justify-content-between align-center " src="{{object.image.url}}">
          {% endif %}
            <div class="container-fluid py-5">
            <form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
                {{form.as_p}}
                <button type = "submit" class="btn btn-success btn-large"> {% if 'create' in request.path %} CREAR {% else %} EDITAR {% endif %}</button>
            </form>
            </div>
            


            </div>
          </div>
        </div>
      </main>
    </section>

  {% include 'footer.html' %}
  
{% endblock %}